<div class="h-screen w-screen flex flex-col items-center justify-center">
  <div class="max-w-2xl w-full flex items-center justify-between">
    <h1 class="font-bold text-4xl text-slate-700">{{ title }}</h1>
    <div class="flex flex-col items-end gap-y-1">
      <div
        class="font-mono font-semibold text-md text-slate-500"
        *ngIf="timer$"
      >
        {{ formatTime((timer$ | async) ?? 0) }}
      </div>

      <div class="font-mono font-semibold text-md text-slate-500" *ngIf="wpm$">
        {{ wpm$ | async }} WPM
      </div>
    </div>
  </div>

  <div
    class="max-w-2xl w-full mx-auto my-5 text-justify relative p-5"
    *ngIf="sampleText != ''"
  >
    <div
      *ngIf="gameOver"
      class="absolute top-0 left-0 w-full h-full rounded shadow border border-slate-200 flex flex-col gap-y-3 items-center justify-center"
      style="
        background: #2977f519;
        backdrop-filter: blur(12.3px);
        -webkit-backdrop-filter: blur(12.3px);
      "
    >
      <div
        class="text-black uppercase font-bold tracking-wide text-slate-700 text-xl"
      >
        Game Over!
      </div>
    </div>
    <div
      *ngIf="!gameStarted"
      class="absolute top-0 left-0 w-full h-full rounded shadow border border-slate-200 flex items-center justify-center"
      style="
        background: #2977f519;
        backdrop-filter: blur(12.3px);
        -webkit-backdrop-filter: blur(12.3px);
      "
    >
      <button
        class="bg-white py-3 px-5 uppercase font-bold tracking-wide text-slate-700 rounded transition"
        (click)="startGame()"
      >
        Start Game
      </button>
    </div>
    <div class="text-lg">
      <span class="text-green-600 bg-slate-200/50">{{ typed }}</span>
      <span class="text-slate-600">{{ untypedText() }}</span>
    </div>
  </div>

  <div class="max-w-2xl w-full">
    <input
      type="text"
      class="w-full p-3 border border-slate-200 rounded disabled:bg-slate-100/80"
      placeholder="Start typing...."
      [(ngModel)]="inputState"
      [disabled]="!(gameStarted && !gameOver)"
      (input)="onTyping()"
      autofocus
      #input
    />
  </div>
</div>
